MOTB/MOTB/MOTB/bin/WindowsGL/
MOTB/MOTB/MOTB/obj/x86/Debug/MOTB.pdb
MOTB/MOTB/MOTB/obj/x86/Debug/MOTB.csprojResolveAssemblyReference.cache
MOTB/MOTB/.vs/MOTB/v14/.suo
MOTB/MOTB/MOTB/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Hamster Mania 2015.v12.suo
